<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attraction.Core.Serializing" version="0.5.0.1387" targetFramework="net45" />
  <package id="Attraction.Draw.OpenGL" version="0.5.0.1387" targetFramework="net45" />
  <package id="Attraction.Svg.Cairo" version="0.5.0.1387" targetFramework="net45" />
  <package id="Attraction.Svg.Modifier" version="0.5.0.1387" targetFramework="net45" />
  <package id="Attraction.Svg.Svg" version="0.5.0.1387" targetFramework="net45" />
  <package id="Cairo" version="2.0.0.1" targetFramework="net45" />
  <package id="GLib.Sharp" version="2.28.1.1" targetFramework="net45" />
  <package id="Imint.Geo" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Geo.Module" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Icop" version="0.1.0.76" targetFramework="net45" />
  <package id="Imint.Icop.Client" version="0.1.0.76" targetFramework="net45" />
  <package id="Imint.Improc.Match" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Improc.Match.Feature" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Improc.Utility" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Media" version="2.8.0.42" targetFramework="net45" />
  <package id="Imint.Media.Input" version="2.8.0.42" targetFramework="net45" />
  <package id="Imint.Media.Test" version="2.8.0.24" targetFramework="net45" />
  <package id="Imint.Vidflow" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidflow.Advanced" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidflow.Graph" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidflow.Snapshot" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidhance" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidhance.Contrast" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidhance.Motion" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidhance.Motion.Stabilize" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidhance.SkyUp" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Vidview" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Viewer" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Viewer.Control" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Viewer.OpenGL" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Viewer.Overlays" version="2.8.0.3741" targetFramework="net45" />
  <package id="Imint.Viewer.Video" version="2.8.0.3741" targetFramework="net45" />
  <package id="Kean.Cli" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Cli.Argument" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Buffer" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Collection" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Error" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Notify" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Parallel" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Recycle" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Reflect" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Serialize" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Core.Uri" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Draw" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Draw.Cairo" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Draw.OpenGL" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Draw.Raster" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.IO" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.IO.Net" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.IO.Tap" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Math" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Math.Geometry2D" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Math.Geometry3D" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Math.Matrix" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Math.Random" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Math.Regression" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Platform" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Platform.Settings" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Xml" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Xml.Dom" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Xml.Sax" version="0.2.0.1045" targetFramework="net45" />
  <package id="Kean.Xml.Serialize" version="0.2.0.1045" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1161.61462" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="1.1.1161.61462" targetFramework="net45" />
  <package id="Pango" version="1.28.3.1" targetFramework="net45" />
</packages>